#goals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 5%;
}

#completed-goals, #current-goals {
    border: solid 1px #014f86;
    border-radius: 5px;
    overflow-y: scroll;
}

section {
    height: 99%;
}

#current-goals p, #completed-goals p {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

h1 {
    color: #014f86;
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    color: #014f86;
    margin: 0 0 0.5rem 0;
    text-align: center;
}

#goals section h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #014f86;
    font-size: 1.5rem;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #014f86;
    flex-direction: column;
    height: 100%;
    border: 1px solid #014f86;
    margin: 0 0% 0 0%;
    border-radius: 5px;
}

fieldset {
    display: flex;
    width: 80%;
    background-color: white;
    border: 0;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


#submit {
    align-self: center;
    color: white;
    margin: 2rem 1rem;
    background-color: #014f86;
    width: 40%;
    min-height: 2rem;
    padding: 0.8rem;
    border: 1px solid #014f86;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

#submit:hover {
    background-color: white;
    border-color: #014f86;
    transition-duration: 0.2s;
    color: #014f86;
    cursor: pointer;
}

fieldset a {
    padding: 0.5rem 0;
    text-decoration: none;
    color: #014f86;
    text-decoration: underline;
}

fieldset a:hover {
    cursor: pointer;
    color: #00BFFF;
    transition-duration: 0.2;
}

#displayGoals, #completedGoals{
    overflow-y: scroll;
}