main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5%;
    padding: 0 5%;
}

#create-meal,
#create-consumable,
#diet-capture,
#diet-history {
    flex: 1 1 20%;
    min-width: 10%;
    height: 50%;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #014f86;
    flex-direction: column;
    height: 100%;
    border: 1px solid #014f86;
    border-radius: 5px;
}

fieldset {
    display: flex;
    width: 80%;
    background-color: white;
    border: 0;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 0.5rem;
}

fieldset p {
    font-weight: bold;
    font-size: 1rem;
}

.error {
    padding: 0.5rem 0;
    font-weight: normal;
}

fieldset a {
    padding: 0.5rem 0;
    text-decoration: none;
    color: #014f86;
    text-decoration: underline;
}

fieldset a:hover {
    cursor: pointer;
    color: #00BFFF;
    transition-duration: 0.2;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0 0.5rem 0;
}

label {
    display: block;
    width: 100%;
    padding: 1rem 0 0 0;
} 

input, textarea, select {
    padding: 0.6rem;
    border: 1px solid #014f86;
    border-radius: 5px;
}

input:hover, textarea:hover {
    border-color: #00BFFF;
}

input:focus, textarea:focus{
    background-color: white;
    border-color: #00BFFF;
    outline: 1px solid #00BFFF;
}

.submit {
    align-self: center;
    color: white;
    margin: 2rem 1rem;
    background-color: #014f86;
    width: 60%;
    min-height: 2rem;
    padding: 0.8rem;
    border: 1px solid #014f86;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

.submit:hover {
    background-color: white;
    border-color: #014f86;
    transition-duration: 0.2s;
    color: #014f86;
    cursor: pointer;
}

#create {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    overflow: visible;
}

#create form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%; 
    border: 1px solid #014f86;
    border-radius: 5px;
    padding: 1rem; 
}

#diet-history {
    display: flex;
    flex-direction: column;
    border: 1px solid #014f86;
    border-radius: 5px;
    justify-content: flex-start;
    max-height: 50vh;
    min-height: 50vh;
    overflow-y: auto;
}

#create-consumable form {
    display: flex;
    flex-direction: column;
    border: 1px solid #014f86;
    border-radius: 5px;
    justify-content: flex-start;
    max-height: 50vh;
    overflow-y: auto;
}

#diet-capture {
    max-height: 25vh;
}

#create-meal form {
    display: flex;
    flex-direction: column;
    border: 1px solid #014f86;
    border-radius: 5px;
    justify-content: flex-start;
    max-height: 50vh;
    overflow-y: auto;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0 0.5rem 0;
    color: #014f86;
}

#diet-list p strong {
    color: #014f86;
}

#diet-list p {
    margin: 0 0 0 1rem;
}

#diet-history p {
    margin: 0 0 0 1rem;
}

#diet-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

#diet-list .diet-entry:last-child {
    margin-bottom: 1rem;
}

#addMore {
    margin-bottom: 0;
}
