header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    overflow: hidden;
    border-bottom: 1px solid #00BFFF;
    margin-bottom: 5rem;
}

#navBar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav {
    list-style-type: none;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
}

.nav:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    font-size: 1.6rem;
}

.nav a {
    text-decoration: none;
    text-align: center;
    color: #00BFFF;
    font-weight: bold;
}