<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/diet.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/navigation.css">
        <link rel="stylesheet" href="/css/footer.css">
        <title>Operation: Health</title>
    </head>
    <body>
        <%- include('../common/navigation.ejs') %>
        <main>

            <h2> Add a diet entry</h2>


            <form method="POST" action="/diet/dietentry">
                <fieldset>
                    <p>Enter a consumable to add</p>
                    <select name="Name" id="Name">
                        <% consumable.forEach(name => { %>
                          <option value="<%= name %>"><%= name %></option>
                        <% }) %>
                      </select>
                      <p>Enter a meal to add the consumable to</p>
                      <select name="Type" id="Type">
                          <option value="Food">Food</option>
                          <option value="Drink">Drink</option>
                        </select>
                    <p>Enter amount of Grams</p>
                    <input id="Amount" type="text" name="Amount" required>
                    <button id="submit">
                        Submit
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </fieldset>
            </form>




            <h2> Add a new Meal</h2>

            <form method="POST" action="/diet/meal">
                <fieldset>
                    <p>Create a meal with a meal name</p>
                    <input id="Name" type="text" name="Name" required>
                    <button id="submit">
                        Submit
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </fieldset>
            </form>

            <h2> Add a new consumable</h2>

            <form method="POST" action="/diet/consumable">
                <fieldset>
                    <p>Enter new consumable name</p>
                    <input id="Name" type="text" name="Name" required>
                      <p>Food or Drink</p>
                      <select name="Type" id="Type">
                          <option value="Food">Food</option>
                          <option value="Drink">Drink</option>
                        </select>

                    <p>Enter the amount of calories</p>
                    <input id="calories" type="text" name="calories" required>
                    <p>Enter the amount of fats</p>
                    <input id="fats" type="text" name="fats" required>
                    <p>Enter the amount of carbs</p>
                    <input id="carbs" type="text" name="carbs" required>
                    <p>Enter the amount of fibre</p>
                    <input id="fibre" type="text" name="fibre" required>
                    <p>Enter the amount of saturates</p>
                    <input id="saturates" type="text" name="saturates" required>
                    <p>Enter the amount of sugar</p>
                    <input id="sugar" type="text" name="sugar" required>
                    <p>Enter the amount of protein</p>
                    <input id="protein" type="text" name="protein" required>
                    <p>How many grams is the values above for ?</p>
                    <input id="Amount" type="text" name="Amount" required>
                    <button id="submit">
                        Submit
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </fieldset>
            </form>
                
        </main>
        <%- include('../common/footer.ejs') %>
    </body>
</html>