<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/exercise.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/navigation.css">
        <link rel="stylesheet" href="/css/footer.css">
        <script src="/js/exercise-selection.js" defer></script>
        <title>Operation: Health</title>
    </head>
    <body>
        <%- include('../common/navigation.ejs') %>
        <main>
            <form method="POST">
                <fieldset>
                    <label>Select exercise</label>
                    <select name="activity" id="activity">
                        <% exercises.forEach(name => { %>
                          <option value="<%= name %>"><%= name %></option>
                        <% }) %>
                      </select>
                    <label>Enter your own exercise</label>
                    <input id="customActivity" type="text" name="customActivity">  
                    <label>Enter duration</label>
                    <input id="duration" type="number" name="duration">
                    <label>Enter distance if appropriate</label>
                    <input id="distance" type="number" name="distance">
                    <label>Enter amount of calories burnt</label>
                    <input id="caloriesBurnt" type="number" name="caloriesBurnt">
                    <label>Enter amount done</label>
                    <input id="count" type="number" name="count" value="1">
                    <button id="submit">
                        Submit
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </fieldset>
            </form>
            <!-- Display history of exercise entries -->
            </section>
        </main>
        <%- include('../common/footer.ejs') %>
    </body>
</html>