<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/exercise.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/navigation.css">
        <link rel="stylesheet" href="/css/footer.css">
        <script src="/js/exercise-selection.js" defer></script>
        <title>Operation: Health</title>
    </head>
    <body>
        <%- include('../common/navigation.ejs') %>
        <main>
            <form method="POST">
                <fieldset>
                    <label>Select exercise:</label>
                    <select name="activity" id="activity">
                        <% Exercise.forEach(name => { %>
                          <option value="<%= name %>"><%= name %></option>
                        <% }) %>
                      </select>
                    <label>Or Enter your own exercise name:</label>
                    <input id="otheractivity" type="text" name="otheractivity">  
                    <label>Enter duration:</label>
                    <input id="duration" type="number" name="duration">
                    <label >Enter distance:</label>
                    <input id="distance" type="number" name="distance">
                    <label>Enter amount of calories:</label>
                    <input id="calories" type="number" name="calories">
                    <label>Enter amount a count:</label>
                    <input id="count" type="number" name="count">
                    <button id="submit">
                        Submit
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </fieldset>
            </form>
            </section>
        </main>
        <%- include('../common/footer.ejs') %>
    </body>
</html>