<header>
    <a id="hamburger"><i class="fa-solid fa-bars"></i></a>
    <nav>
        <ul id="navBar">
            <li class="nav"></li>
                <li class="nav"><a href="../diet/dietentry">dietentry</a></li>
                <li class="nav"><a href="../diet/consumable">consumable</a></li>
                <li class="nav"><a href="../diet/meal">meal</a></li>
        </ul>
    </nav>
</header>