<aside>
    <h1>Settings</h1>
    <p><a href="/settings/account">Account settings</a></p>
    <p><a href="/settings/privacy">Privacy settings</a></p>
    <form action="/users/logout">
        <input type="submit" class="button" value="Log out"/>
    </form>
  </aside>