<aside>
    <h1><%= settings.title %></h1>
    <p><a href="/settings/account"><%= settings.account %></a></p>
    <p><a href="/settings/privacy"><%= settings.privacy %></a></p>
    <form action="/users/logout">
        <input type="submit" class="button" value="<%= settings.button %>"/>
    </form>
  </aside>